<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareFind"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CareFind">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity will come after SplashActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- RegisterActivity for user registration -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- MainActivity should be set for future main screen if needed, but not the launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>
</manifest>
